<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>LyricVerse</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet" />
        <script src="{{ url_for('static', filename='menu.js') }}" defer></script>
    </head>
<body>
    <nav>
        <div class="nav-left">
            <a href="{{ url_for('main.home') }}">Home</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
            {% endif %}
            <a href="{{ url_for('auth.search') }}" class="nav-icon" title="Search" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" viewBox="0 0 24 24" >
                    <circle cx="11" cy="11" r="7"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
            </a>
        </div>
        <div class="nav-center" style="font-size: 24px; font-weight: 600; color: aqua; font-family: 'Poppins', sans-serif;">
            LyricVerse
        </div>
        <div class="nav-right">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>
    </nav>

    {% if not request.path == url_for('auth.login') %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% endif %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
