<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>LyricVerse</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet" />
        <script src="{{ url_for('static', filename='menu.js') }}" defer></script>
    </head>
<body>
    <div class="sidebar">
        <div class="logo">LyricVerse</div>
        <a href="{{ url_for('main.home') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
        {% endif %}
        <a href="{{ url_for('auth.search') }}">Search</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
    </div>

    <div class="content">
        {% if not request.path == url_for('auth.login') %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
