{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 700px; margin: 40px auto; padding: 20px;">
    <h1>Welcome to LyricVerse</h1>
    <p>This application allows you to search for your favorite songs and view their lyrics. You can register and log in to save your favorite songs and access personalized features.</p>
    <p>Please login or register to get started and enjoy exploring your favorite music lyrics!</p>
    {% if not current_user.is_authenticated %}
    <div class="auth-buttons-home">
        <a href="{{ url_for('auth.login') }}">
            <button class="btn-login-home">Login</button>
        </a>
        <a href="{{ url_for('auth.register') }}">
            <button class="btn-register-home">Register</button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock %}
